.signup-bg{
    background-color: #756DE9;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    position: relative;
}
.opportunities-bg{
    background-color: #FF8960;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    position: relative;
}
.next-btn{
    margin-left: -150px !important;
}
.nav-links{
  box-shadow: '0 0 10px #4b44d459' !important;
  background-color: #4b44d459;
  padding: 4px 16px;
  border-radius: 99px;
}
.nav-link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif !important;
}
.nav-links .active{
     background-color: #fff;
     padding: 10px;
     border-radius: 99px;
     color: #756DE9 !important;
     font-weight: 500;
}
.nav-link-mobile{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.separator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #E6E6E6;
}

.orange-round{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF8960;    
    position: absolute;
    top: 35%;
    left: 18%;
}
.skyblue-round{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CC9F0;
    position: absolute;
    top: 70%;
    right: 93%;
}
.yellow-round{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFDF57;    
    position: absolute;
    top: 64%;
    left: -11%;
}
.orange-round-right{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF8960;    
    position: absolute;
    top: 60%;
    right: 14%;
}
.skyblue-round-right{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4CC9F0;
    position: absolute;
    top: 35%;
    right: 5%;
}
.yellow-round-right{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFDF57;    
    position: absolute;
    top: 90%;
    right: 7%;
}
.drop_area_box{
    width: 100% !important;
    border: 1px dashed #C5C3E7;
    border-radius: 20px;
    padding: 40px 0px;
    cursor: pointer;
}
.text-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.text-box-one{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    color: #fff;
    font-weight: 400;
}
.video-arrow{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-arrow > img{
    width: 30px;
}
.video-button{
    top: 85%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 100%;
}
.video-pause-button{
    top: 85%;
    left: 50%;
    transform: translate(20%, -50%);
    width: 100%;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #756DE9;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .video-button-seven{
    top: 75%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 100%;
  }

  .btn-pad{
    padding: '15px, 40px, 15px, 40px' !important;
  }

.round-one{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CC9F0;    
    position: absolute;
    top: 5%;
    right: 15%;
}

.round-two{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFDF57;    
    position: absolute;
    top: 15%;
    left: 25%;
}

.round-three{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #53C6AF;    
    position: absolute;
    top: 15%;
    right: 35%;
}

.round-four{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FF8960;    
    position: absolute;
    top: 25%;
    left: 35%;
}

.round-five{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF8960;    
    position: absolute;
    top: 45%;
    left: 25%;
}

.round-six{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFDF57;    
    position: absolute;
    top: 50%;
    right: 25%;
}

.round-seven{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #53C6AF;    
    position: absolute;
    top: 50%;
    right: 5%;
}

.round-eight{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF8960;    
    position: absolute;
    top: 66%;
    right: 15%;
}

.round-nine{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4CC9F0;    
    position: absolute;
    top: 66%;
    left: 8%;
}

.round-ten{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFDF57    ;    
    position: absolute;
    top: 92%;
    left: 28%;
}

.round-eleven{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4CC9F0;    
    position: absolute;
    top: 97%;
    right: 28%;
}

.progress {
	overflow: hidden;
	height: 7px;
    width: 65%;
	background-color: #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
		margin-bottom: 20px;
}
.progress-bar {
	width: 0;
	height: 100%;
	color: #fff;
	text-align: center;
	background-color: #52C6AE;
}
.progress-striped .progress-bar {
			background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
			background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
			background-size: 40px 40px;
}
.progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
}


@media only screen and (max-width: 425px) {
    .social-m{
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: 991px) {
    .nav-desktop{
        display: none !important;
    }
    .orange-round{
        display: none;
    }
    .skyblue-round{
        display: none;
    }
    .yellow-round{
        display: none;
    }
    .orange-round-right{
        display: none;
    }
    .skyblue-round-right{
        display: none;
    }
    .yellow-round-right{
        display: none;
    }
    .pad-desktop-signup{
        padding: 10px 10px;
    }
    .padding-ywt{
        padding: 10px 5px;
    }
    .round-one, .round-two, .round-three, .round-four, .round-five, .round-six, .round-seven, .round-eight, .round-nine, .round-ten, .round-eleven{
        display: none !important;
    }
    .mob-none{
        display: none !important;
    }
}

@media only screen and (min-width: 991px) {
    .nav-mobile-logo{
        display: none !important;
    }
    .nav-mobile{
        display: none !important;
    }
    .pad-desktop-signup{
        padding: 10px 80px !important;
    }
    .padding-ywt{
        padding: 10px 85px !important;
    }
}